<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/lessons'}); %>
<main class="allplaylist">

    <a href="/lessons"><svg class="back-icon" version="1.0" xmlns="http://www.w3.org/2000/svg"width="36" height="30" viewBox="0 0 512.000000 512.000000"preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none"><path d="M2391 3364 c-435 -438 -791 -800 -791 -804 0 -12 1581 -1600 1594 -1600 14 0 326 311 326 325 0 6 -285 295 -632 642 l-633 633 633 633 c347 347 632 637 632 642 0 14 -313 325 -327 325 -6 0 -367 -358 -802 -796z"/></g></svg></a>

    <header>
        <h1>All playlist</h1>
    </header>

    <section class="all-playlist">
        <% playlist.forEach(playlist => { %>
                <article>
                <% if (playlist.image) { %>

                    <picture class="background-picture">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>?format=avif" type="images/avif">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>?format=webp" type="images/webp">
                        
                        <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>" width="<%= playlist.image.width %>" height="<%= playlist.image.height %>"  alt="playlist">
                    
                    </picture>
        
                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>?format=avif" type="images/avif">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>?format=webp" type="images/webp">
                        
                        <img class="playlist-img" src="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>" width="<%= playlist.image.width %>" height="<%= playlist.image.height %>"  alt="playlist">
                    
                    </picture>
        
                <% }  else { %> 
                    <img class="playlist-img" src="./Placeholder-1.png" width="448" height="380" alt="playlist"> 
                <% } %>
                
                    <div class="playlist-details">
                        <h5><%= playlist.title %></h5>        
                        <p>31 min. 55sec <%- include('./partials/svg-play') %></p>
                
                    </div>
                </article>
            <% }) %>
    </section>
</main>

<%- include('./partials/foot') %>