<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/lessons'}); %>
<main class="lessons">
    <header>
        <h1>Lessons</h1>
        <ol>
            <li>Listening 
                <%- include('./partials/svg-listening') %></li>    
            
            <li>Your first words</li>
        </ol>
    </header>

    <section class="own-playlist">
        <div>
            <div class="header-own-playlist">
            <h2>Own <br> play <br> list</h2>
            <a href="/allplaylist"><p>Show all playlist</p></a></div>
        
            <div class="playlist-carousel">
                <article>
                    <div class="add-playlist">
                        <a href="#playlist">
                            <%- include('./partials/svg-plus') %>
                            <h5>Create a playlist!</h5>
                            <p>Add your favourite stories in one playlist</p>
                        </a>
                    </div>
                </article>

                <%- include('./partials/playlist') %>

                <div class="tab-buttons">
                    <button class="prevBTN" title="previous" hidden> < </button>
                    <button class="nextBTN" title="next" hidden> > </button>
                </div>

            </div>

            <div id="playlist" class="playlist">
                <a href="#" class="close-playlist">X</a>
                <form id="playlist-form" method="post">
                    <h1>Choose a name for your playlist</h1>
                    <div>
                        <img hidden src="#" alt="Your image"  id="image-preview"> 
                        <input id="playlistName" type="text" required placeholder="Name playlist" name="NewPlaylists">
                        <canvas id="confetti-canvas"></canvas>
                    </div>
                    <div class="file-input">
                        <label for="file">Select image</p>
                        </label>
                        <input class="file" id="file" type="file" accept="image/*" />
                        <button class="submitButton">Create playlist</button>
                    </div>
                </form>
            </div>
        </div>
            
        <div class="progress"></div>
            
    </section>

    <section class="all-stories">
        <div class="header-allstories">
            <div class="header-title"><h3>All stories</h3>
            <a href="/allstories"><p>Show all stories</p></a></div>

            <form action="/" method="get">

                <% language.forEach(language => { %>
                <button title="language" type="button">
                  <img src="https://fdnd-agency.directus.app/assets/<%= language.flag %>" width="25" height="10"
                  onerror="this.onerror=null;this.src='Placeholder-2.png';" alt="language flag">
                  <%- language.language %>
                </button>
                <% }) %>

            </form>
        </div>

        <div class="gallery">

            <%- include('./partials/stories') %>

        </div>

        <div class="tab-buttons">
            <button class="prevBTN2" title="previous" hidden><</button>
            <button class="nextBTN2" title="next" hidden>></button>
        </div>

    </section>

<div class="playlist-overview">
    <section class="liked-playlist">

        <h4 class="hidden-header">Liked playlist</h4>

        <div class="slayrousel">
            <div class="liked-circle" hidden>
                <svg viewBox="0 0 100 100">
                <path d="M 0,50 a 50,50 0 1, 1 0, 1 z" id="circle"></path>
                
                <text><textPath xlink:href="#circle">
                    liked playlist
                </textPath></text>

            </svg></div>

            <div class="art-slayrousel">
                <%- include('./partials/playlist-liked') %>
            </div>
        </div>
    </section>

    <section class="sug-playlist">

        <h4 class="hidden-header">Suggested playlists</h4>

        <div class="slayrousel">
            <div hidden class="sug-circle">
                <svg viewBox="0 0 100 100">
                <path d="M 0,50 a 50,50 0 1, 1 0, 1 z" id="circle"></path>
                
                <text><textPath xlink:href="#circle">
                    suggested playlist
                </textPath></text>

            </svg></div>
            <div class="art-slayrousel">
                <%- include('./partials/playlist-suggested') %>

            </div>     
        </div>
    
    </section>
  </div>
</main>

<%- include('./partials/foot') %>